.header-container {
  display: flex;
  margin-top: 50px;
}

.header-container nav ul {
  display: flex;
  gap: 28px;
  list-style: none;
  margin-left: 100px;
}

.header-container nav ul li a {
  flex-direction: none;
  margin-right: 20px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  transition: 0.3s;
}

.header-container nav ul li a:hover {
  cursor: pointer;
  color: rgb(15, 32, 185);
}

.header-container .logo {
  margin-left: 100px;
}

.header-container .btns .in {
  color: black;
  font-size: 18px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.header-container .btns .up {
  width: 120px;
  height: 40px;
  background: #ff6600;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  border: none;
  transition: 0.3s;
  margin-right: 50px;
}

.header-container .btns .up:hover {
  background: #ff6670;
  cursor: pointer;
}

.header-container .btns {
  margin-left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 1280px) {
  .header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* .Header nav {
        font-size: 50px;
        align-items: center;
        justify-content: center;
} */
}

@media (max-width: 980px) {
  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 980px) {
  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: auto; */
  }
}

@media (max-width: 480px) {
  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: auto; */
  }
}

@media (max-width: 768px) {
  .header-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
  }

  .header-container nav {
    margin: 0;
    text-align: center;
    padding: 0;
  }

  .header-container {
    margin: 0;
    text-align: center;
  }
}
.Home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.Home .info h1 {
  font-size: 57px;
  color: #0b1b35;
}

.Home .info h6 {
  font-size: 22px;
  color: #000;
}

.Home .info .btns .btn1 {
  width: 150px;
  height: 40px;
  color: beige;
  background: #ff6600;
  border-radius: 6px;
  font-size: 17px;
  border: none;
  transition: 0.3s;
}

.Home .info {
  margin-left: 100px;
  margin-top: 40px;
}

.Home .info .btns {
  margin-top: 40px;
}

.Home .info .btns .btn1:hover {
  background: #ff6650;
  cursor: pointer;
}

.Home .info .btns .btn2 {
  width: 160px;
  height: 40px;
  background: #fff;
  border: none;
  transition: 0.3s;
}

.Home .info .btns .btn2:hover {
  color: #ff6600;
  cursor: pointer;
}

.Home .info .btns .btn2 img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

.Home .picture {
  margin-left: 100px;
  /* margin-top: 40px; */
}

.Home .picture img {
  width: 530px;
  height: 530px;
  margin-top: 60px;
  transition: 0.4s;
}

.Home .picture img:hover {
  cursor: pointer;
  margin-top: 60px;
  transform: scale(1.1);
}

@media screen and (max-width: 1280px) {
  .Home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .Home .info h1 {
    font-size: 30px;
    /* text-align: center; */
  }
}

@media (max-width: 1024px) {
  .Home {
    display: grid;
    grid-template-columns: 1fr;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Home .info h1 {
    font-size: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 980px) {
  .Home {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Home .info h1 {
    font-size: 30px;
    align-items: start;
  }
}

@media (max-width: 768px) {
  .Home {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Home .info {
    padding: 0;
    margin: 0;
  }

  .Home .info h6 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .Home .info h1 {
    font-size: 50px;
    margin: 0;
    padding: 0;
    text-align: center;
  }
}
